body{
background-image: url('assets/27230.jpg');
background-size: cover;

}
.aa{
    border-top: none;
    outline: none;
    border-left: none;
    border-right: none;
}
#loginCardClass{
    position: absolute;
    top: 25%;
    right: 25%;
    left: 25%;
}
#loginCard{
    background-color: #ffffff;
    padding: 5%;
    border-radius: 22px;
    /* background-size: 100%; */
}
/* #username{
    display:inline-block;
} */